
.header-container {
    box-shadow: none !important;
    height: 50px;
    background: #F11E22;
    padding: 0 20px;
    a {
        height: inherit;
        width: auto;
        img {
            height: inherit;
            width: auto;
        }
    }
    
}